<main>
  <center>
    <div style="background-color: #292536; height: 100px; padding-top: 15px; max-width: 900px;">
      <h1 style="color: white; text-align:center; font-weight: 300; font-size: 30px;">{{ emailTitle }}</h1>
    </div>
  </center>
</main>